/* css reset */
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */

:root{
    --navbar-height:60px;
}

/* Navigation bar */

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

#sidebar{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: antiquewhite;
    z-index: 5;
}
#sidebar ul{
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
}
.icon-tabler-square-x{
    float: right;
    display: none;
    background-color: white;
    border-radius: 5px;
}
.icon-tabler-menu{
    display: none;
    margin: 1rem;
    background-color: white;
    border-radius: 5px;
}
#sidebar ul li{
    display: block;
    margin: auto;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* Logo and Image(Navbar) */
/* List styling(Navbar) */

#logo{
    margin: 5px;
}

#logo img{
    height: 45px;
    margin: 6px 15px;
}

#navbar ul{
    display: flex;
}

#navbar ul li,#sidebar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a,#sidebar ul li a{
    color: rgb(255, 188, 3);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover,#sidebarul li a:hover{
    color: black;
    background-color: white;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    padding: 3px 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#home h1{
    color: rgb(0, 0, 0);
    font-family: 'Borel', cursive;
}

#home P{
    color: rgb(0, 0, 0);
    font-family: 'Borel', cursive;

}

#services{
    margin: auto;
    display: flex;
}
#services .box{
    background-color: beige;
    padding: 10px;
    margin: 10px 6px;
    border-radius: 50px;
    box-shadow: inset 10px 10px 100px whitesmoke;
}
#services .box img{
    border-radius: 30px;
    height: 200px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#client-section{
    height: 250px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url("img/bg1.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items:center;
}
#clients img{
    display: block;
    margin: auto;
    height: 80px;
}
.client-item{
    padding: 34px;
}
/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("img/contact.jpg") no-repeat center center;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* contact box */
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-box form{
    width: 40%;   
}
#contact-box label{
    font-size: 1.1rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding:0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}


/* Utility class */
.h-primary{
    font-size: 2.6rem;
    padding: 10px;
}

.h-secondary{
    font-size: 3rem;
    font-family:cursive;
    padding: 10px;
}

.btn{
    padding: 6px 12px;
    border: 2px solid white;
    background-color: brown;
    border-radius: 15px;
    color: white;
    margin: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.center{
    text-align: center;
}

@media only screen and (max-width: 1150px) {
    html{
        scroll-behavior: smooth;
    }
    /* Navigation section */
    #navbar ul li a{
        font-size: 1rem;
        padding: 0px 7px;
    }
    #sidebar{
        display: none;
    }
    #sidebar,#Closebtn,#Menubtn{
        transition: all 0.2s ease;
    }
    .navigation{
        display: none;
    }
    /* home section */
    #home{
        padding: 3px 10px;
    }
    /* services section */
    #services{
        flex-direction: column;
    }
    .icon-tabler-menu{
        display: block;
    }
    /* client section */
    #clients{
        flex-wrap: wrap;
    }
    .client-item{
        padding: 10px;
    }
    #clients img{
        width: 60px;
        padding: 2px 5px;
        margin: 0;
    }
    
    
    /* contact us section */
    #contact-box form{
        width: 80%;
    
    }
    /* footer */
    
    /* utility class */
    .h-primary{
        font-size: 23px;
    }
}